{% extends "lab_4/layout/base.html" %}

{% block content %}
<div class="article" style="background:white ; float: left ; margin-left:100px ; text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:600px;height:400px;border-bottom-left-radius:25px;border-top-left-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;">
<div class="article" style="text-align: center">
    <div class="article" align="center" style="font-color:red, opacity:1"><h1>Portofolio</h1>

<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
</div>
</div>
</div>
<div class="article" style="float:center">
<img class="img-circle" src="http://i0.kym-cdn.com/photos/images/facebook/001/242/581/95e.jpg" alt="" border="0" height="150" width="150">
</div>
<div class="article" style="background:white ; float: left ; margin-left:100px ; text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:1000px;height:520px;border-bottom-left-radius:25px;border-top-left-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;">
<div class="article" style="text-align: center">
	<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}" >
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>
<div class="article" align="center">{% endblock %}</div>
</div>
</div>


