{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center"><font color="white">Hai semua, berikut adalah Catatan Harianku</font></h3>
<br><br>

    <div class=row>
        <div style="margin-left:50px;text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:700px;height:500px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:25px;border-top-right-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;"><hr><font color="f51a1a"><div align="center"><font size="4"><b><p class="status" id="test"> 
        <table align="center" style="text-align: center">
            <tr>
                <th><font color="white">Tanggal</font></th>
                <th><font color="white">Yang akan dikerjakan</font></th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td bordercolor="white" class="date"><font color="white"> {{ diary_data.date }} </font></td>
                    <td bordercolor="white" class="activity"><font color="white"> {{ diary_data.activity }} </font></td>
                </tr>
            {% endfor %}
        </table> </div>

    </div>
    <div class=row>
        <form method="POST" action="add_activity/">
            <div class=col style="float:right; text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:450px;height:200px;border-bottom-right-radius:25px;border-top-right-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;"><hr><font color="f51a1a"><div align=center>
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <font color="white">Tanggal</font>
                    </td>
                    <td>
                        <font color = "white"><input type="datetime-local" name="date" id="date" required="required"/></font>
                    </td>
                </tr>
                <tr>
                    <td>
                        <font color="white">Kegiatan</font>
                    </td>
                    <td>
                        <font color = "white"><input type="text" name="activity" id="activity" size="25"/> </font>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success"><font color="white">Submit</font></button>
        </form>
    </div>
{% endblock %}
