{% extends "base.html" %}
{% block content %}
<style>.divider {
    height:50px;
    padding-bottom: 10px;
    width: 20%;
    margin: 20px auto;
    float: center;
    }
</style>
<div class="divider">
<div align="center">
<div style="background-image:url(https://images6.alphacoders.com/713/713051.png)">
<div style="float:center;text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:450px;height:200px;border-bottom-left-radius:25px;border-bottom-right-radius:25px;border-top-left-radius:25px;border-top-right-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;"><hr><font color="f51a1a"><div align="center"><font size="4"><b><p class="status" id="test"> Hello, this is {{ name }}. {{ content }}.</p></b></font></div></font>
</div>
</div>
{% endblock %}