{% extends "base.html" %}
{% block content %}
<body style="background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;">
    <div align="center">
<div style="float: left ; margin-left:500px ; text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:450px;height:350px;border-bottom-left-radius:25px;border-top-left-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;"><div style="float:left;text-align:left;overflow:auto;border:2px solid rgb(155, 17, 30);width:446px;height:100px;border-bottom-left-radius:25px;border-top-left-radius:25px;background:repeating-linear-gradient(45deg, rgb(43, 43, 43) 0%, rgb(43, 43, 43) 10%, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 50%) 0px center / 15px 15px;"><hr><font color="f51a1a"><div align="center"><div style="color:#fff;float:left;max-width:100px;margin-top:0px;text-align:left;margin-left:200px;font-family:Times New Roman;font-weight:bold;text-shadow:0px 0px 30px #69cff0;"><font size="4"><b>MY BIODATA</b></font></div></div></font><hr><div style="text-align:center;">
</div><div style="text-align:center;">
</div></div>
<table align="center" style="text-align: center">
        {% for bio in bio_dict %}
            <tr>
                <td class="subject">{{ bio.subject }}</td>
                <td class="value">{{ bio.value }}</td>
            </tr>
        {% endfor %}     
    </table>
<hr><hr><hr></div></div></div>
</body>
{% endblock %}
